<!-------------------------------------------Databinding------------------------------------------>
<div class="container">
  <h2>Databinding</h2>
  <br />
  <!--Interpolation (mit dem '{{}}'' wird Der name mit sienem aktuelle wert angezeigt)-->
  <h4>Hallo {{ name }}</h4>
  <br />

  <!--Property Binding (mit dem '[]'  verweisst man auf den src dass
    Er die Variable aus dem typescript code nehmen muss)-->
  <img [src]="imgVariable" />
  <br />

  <!--Event Binding (mit dem '()' verweisst man auf dem HTML tag dass er die reingeschriebene 
    event/Funktion ausführen soll )-->
  <button (click)="funktion()">Click</button>
  <br />

  <p>{{ text }}</p>
  <br />

  <!--Two Way Binding (mit dem '[()]' wird die aktulle Input wert in imgLink gebunden und
    Änderungen werden auch in Input zurückgebundet )-->
  <input style="width: 500px" type="text" [(ngModel)]="imgLink" />
  <br />

  <img [src]="imgLink" />
  <br />

  <hr />

  <!------------------------------------------Direktive------------------------------------------>

  <!--Struktur-Direktiven-->
  <h2>Struktur-Direktiven</h2>

  <div *ngIf="booleanWert">
    ngIF Dieses Element wird angezeigt, wenn isDisplayed wahr ist.
  </div>
  <br />

  <div *ngFor="let i of [0, 1, 2, 3, 4, 5]">
    Ein beispiel für ngFor in angular
    {{ i }}
  </div>
  <br />

  <div *ngFor="let alphabet of myArray">
    Ein weiter beispiel für ngFor in angular myArray ist in der Komponentklasse
    als public variable gespeichert
    {{ alphabet }}
  </div>
  <br />

  <!--Attribut-Direktiven-->
  <h2>Attribut-Direktiven</h2>

  <div [ngClass]="{ highlight: booleanWert }">
    ngClass Dieses Element erhält die Klasse 'highlight', wenn isHighlighted
    wahr ist.
  </div>
  <br />

  <hr />

  <!------------------------------------------Dekorator------------------------------------------>

  <!--Input Dekorator-->
  <h2>Input Dekorator</h2>

  <p>hier ist Kindekomponent und das ist die variable: {{ fangeVariable }}</p>
  <br />

  <!--Output Dekorator-->
  <h2>Output Dekorator</h2>

  <button (click)="sendeVariableAusKindKomponent()">
    Drucke hier um die daten in der kindklasse zu senden
  </button>
  <br />

  <!--ViewChild Dekorator-->
  <h2>ViewChild Dekorator</h2>

  <button (click)="viewChildMethode()" #mybtn>
    Drucke hier um die Element in Console zu sehen
  </button>
</div>
